.global-footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.global-footer-copyright-text {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.version-number {
    font-family: 'Roboto', sans-serif;
    color: #000;
}
