@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400&display=swap');

.projects-wrapper {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
}
