.main-layout-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: calc(100% - 50px);
    background-color: #efefef;
}

@media screen and (min-width: 768px) {
    .main-layout-wrapper {
        left: 15%;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .main-layout-wrapper {
        left: 25%;
        width: 50%;
    }
}
