.main-layout-wrapper {
    position: relative;
    left: 0;
    width: 100%;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .main-layout-wrapper {
        left: 15%;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .main-layout-wrapper {
        left: 25%;
        width: 50%;
    }
}
