.post-wrapper {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
}

.post-page-title-section {
    display: flex;
    align-items: center;
}

.post-page-title-back-button-image {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.post-content-container {
    width: 100%;
    margin-top: 20px;
}

.post-header {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Odibee Sans', cursive;
}

.post-date {
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
    color: #666777;
}
