.projects-wrapper {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    margin-bottom: 10px;
    margin-bottom: 30px;
}

.projects-items-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects-item {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #cecece;
    margin: 10px 0;
    padding: 10px;
}

.projects-item-title {
    width: 100%;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        font-size: 22px;
        color: rgb(0, 83, 144);
        font-family: 'Roboto', sans-serif;
    }
}

.projects-item-description {
    width: 100%;
    font-size: 14px;
    color: #444555;
    font-family: 'Crimson Text', sans-serif;
    line-height: 1;
}
