.mainloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 2px;
    background-color: #efefef;
    z-index: 3;
}

.mainloader-loader {
    position: relative;
    width: 45%;
    height: 100%;
    margin-left: 0;
    background-color: darkcyan;
    box-shadow: 0 0 1px 1px #d68e30;
    animation: 2.5s ease-in-out 0s move-loader infinite;
}

@keyframes move-loader {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 55%;
    }
    100% {
        margin-left: 0;
    }
}
