.global-mainloader-wrapper {
    width: 100%;
    overflow: hidden;
    height: 2px;
    background-color: #efefef;
}

.global-mainloader-loader {
    position: relative;
    width: 45%;
    height: 100%;
    margin-left: 0;
    background-color: coral;
    box-shadow: 0 0 1px 1px #d68e30;
    animation: 2s linear move-loader infinite;
}

@keyframes move-loader {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100%;
    }
}
